{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block head_title %}Propaganda{% endblock %}</title>

    {% include 'head_css.html' %}
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">       <style>

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
p, div {
    font-family: 'Roboto Slab', serif;
}

      </style>

<style>input[type=checkbox], input[type=radio], span, small {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type=radio], span, small {
  bottom: 2px;
}



</style>

  </head>

  <body>
  {% include 'navbar.html' %}
{% block dashboard %}

{% endblock %}
{% block carousel %}
          
            {% endblock %}
    <div class="container">
            

          
            {% block content %}

            {% endblock %}
              
      <footer>
      <hr/>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2016 Propaganda, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </div> <!-- /container -->

    {% include "javascript.html" %}
    


  </body>
</html>